language: python
python:
  - "2.7"
#  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "nightly"
  - "pypy"
  - "pypy3"
sudo: false
install:
  - pip install -r requirements.txt
script:
  - python setup.py nosetests
  - python setup.py install
after_success: coveralls
notifications:
  email:
    - post@davidak.de
